.reasons {
    display: flex;
    flex-direction: column;
}

.reasons-menu {
    display: flex;
    gap: 40px;
}

.reasons-menu-item {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: flex-start;
    gap: 40px;
}

.reason {
    background-image: url("/chase/images/heft_bgimg.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 42.6vh;
    width: 27vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    border: var(--border);
}

.reason-icon_text {
    display: flex; 
    flex-direction: row;
    margin-top: 16.3vh;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}


.reason-text {
    color: var(--black-txt);
    font: var(--intro-text);
}

.reason-subtext {
    color: var(--black-txt);
    font: var(--button-text);
    margin: 0 auto;
}
